  .vl-collapse-header {
    cursor: pointer;
    border-radius: 0;
    display: flex;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    z-index: 1;
    width: 100%;
  }

  .vl-collapse-header:hover {
    background-color: rgba(230, 230, 230, 0.2);
  }

  .flex {
    flex: 1;
    -webkit-box-flex: 1;
    min-width: 0;
  }

  .vl-collapse-icon {
    line-height: 40px;
  }
